<div class="bg-light lter b-b wrapper-md">
    <button type="button" class="btn btn-primary btn-addon pull-right m-t-n-xs" ng-click="openSyncMembersModal()">
        <i><span class="fa fa-refresh" aria-hidden="true" ng-class="{'fa-spin': syncing}"></span></i>
        Sync Members
    </button>
    <h1 class="m-n font-thin h3" translate="clan.members.MEMBERS">Members</h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading" translate="clan.members.MEMBERS">Members</div>
        <div class="table-responsive">
            <table st-table="displayMembers" st-safe-src="members" st-set-filter="myStrictFilter" class="table table-striped">
                <thead>
                <tr>
                    <th st-sort="clanRank" st-skip-natural="true" st-sort-default="true">#</th>
                    <th st-sort="name" st-skip-natural="true">Name</th>
                    <th st-sort="percent" st-skip-natural="true">Ratio</th>
                    <th>Actions</th>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        <select st-search="role" class="input-sm form-control w-sm inline v-middle">
                            <option value="">All</option>
                            <option ng-repeat="member in members | unique: 'role'"
                                    value="{{ member.role }}">{{ member.role }}</option>
                        </select>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="member in displayMembers">
                    <td>{{ member.clanRank }}</td>
                    <td>
                        <img class="league" ng-src="{{ member.league.iconUrls.tiny }}">
                        <span tooltips
                              tooltip-template="{{ member.tag }}"
                        >{{ member.name }}</span>
                    </td>
                    <td>
                        <div tooltips tooltip-template="Ratio {{ member.percent }}%">
                            <uib-progress>
                                <uib-bar ng-repeat="bar in member.ratio track by $index" value="bar.percent" type="{{bar.type}}">
                                    <span>{{bar.value}}</span>
                                </uib-bar>
                            </uib-progress>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-xs btn-success" ng-click="openEditMemberModal(member)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/ng-template" id="syncMembersModal.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title-sync-members">Synchronize members</h3>
        </div>
        <div class="modal-body" id="modal-body-sync-members">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Add new members
                        </div>
                        <ul class="list-group bg-white">
                            <li class="list-group-item" ng-if="::!newMembers.length">
                                <span>No new members</span>
                            </li>
                            <li class="list-group-item" ng-repeat="member in ::newMembers">
                                <label class="i-checks i-checks-sm">
                                    <input type="checkbox" ng-model="member.adding"><i></i>
                                </label>
                                <img class="league" ng-src="{{ ::member.league.iconUrls.tiny }}">
                                <span>{{ ::member.name }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            Delete absent members
                        </div>
                        <ul class="list-group bg-white">
                            <li class="list-group-item" ng-if="::!oldMembers.length">
                                <span>No absent members</span>
                            </li>
                            <li class="list-group-item" ng-repeat="member in ::oldMembers">
                                <label class="i-checks i-checks-sm">
                                    <input type="checkbox" ng-model="member.adding"><i></i>
                                </label>
                                <img ng-src="{{ ::member.league.iconUrls.tiny }}">
                                <span>{{ ::member.name }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="editMemberModal.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title-edit-member">Edit member</h3>
        </div>
        <div class="modal-body" id="modal-body-edit-member">
            <form class="bs-example form-horizontal">
                <div class="form-group">
                    <label class="col-lg-3 control-label">CW Rating</label>
                    <div class="col-lg-9">
                        <span uib-rating
                              ng-model="member.cwRate"
                              max="max"
                              on-hover="hoveringOver(value)"
                              on-leave="overStar = null"
                              titles="[1, 2, 3, 4, 5]"
                              aria-labelledby="default-rating"></span>
                        <span class="label"
                              ng-class="{'label-red': percent < 30,
                                         'label-warning': percent >= 30 && percent < 70,
                                         'label-success': percent >= 70}">{{ percent }}%</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Parent Accounts</label>
                    <div class="col-lg-9">
                        <ui-select multiple ng-model="member.parents" theme="bootstrap">
                            <ui-select-match placeholder="Select member...">
                                {{ $item.name }}
                            </ui-select-match>
                            <ui-select-choices repeat="member in members | propsFilter: { name: $select.search }">
                                <div ng-bind-html="member.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input type="email" class="form-control" placeholder="Email">
                        <span class="help-block m-b-none">Example block-level help text here.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <div class="checkbox">
                            <label class="i-checks">
                                <input type="checkbox" checked><i></i> Remember me
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-sm btn-info">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <ul uib-pager
                total-items="members.length"
                ng-model="memberIndex"
                items-per-page="1"
                previous-text="{{ members[memberIndex - 2].name }}"
                next-text="{{ members[memberIndex].name }}"></ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
